img, table, td, tr, div, pre, ul, li, ol, p {
	margin: 0px; 
	padding: 0px;
} 

* { margin: 0px; padding: 0px; }

html {
	margin: 0px; 
	padding: 0px;
	height: 100%;
}

body { 
	margin: 0px; 
	padding: 0px;
	font-family: Tahoma, Geneva, Verdana;
	font-size: 10pt;
	line-height: 1.2em;
	color: #333333;
	font-weight: normal;
	text-align: justify;
	background: #fef5f0 url('images/bkground.jpg') repeat center top;
}

p {
	padding-top: 9px;
	padding-bottom: 9px;
}

h1 {
	font-family: Georgia, Verdana, Ariel, sans-serif; 
	font-weight: bold;
	color: #004b85;
	font-size: 14pt;
	font-style:italic;
	padding-top: 10px;
	padding-bottom: 10px;
}


h2 {
	font-family: Georgia, Verdana, Ariel, sans-serif; 
	font-weight: normal;
	color: #004b85;
	font-size: 14pt;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	font-family: Georgia, Verdana, Ariel, sans-serif; 
	font-weight: normal;
	color: #be0f34;
	font-size: 13pt;
	padding-top: 20px;
	padding-bottom: 10px;
}

td {
	vertical-align: top;
}


a {
	text-decoration: none;
}

a:focus { 
	outline: none; 
}

img {
	border: 0px;
}


#homepage {
	margin: 0 auto; padding: 0; width: 936px; height: 800px;
	background: url('images/university_bkground.jpg') no-repeat center top;
}

#content {
	margin: 0 auto; padding: 0; width: 936px;  
}

#content a {
	color: #002e5f;
	text-decoration: underline;
}

#content a:hover {
	color: #be0f34;
}

ul.specials li { color: #002e5f; margin-left: 40px; padding-left: 5px; }

#check_understanding a {
	color: #002e5f;
	font-size: 12pt;
	text-decoration: none;
}

#download_pdf a {
	color: #be0f34;
	font-size: 12pt;
}

#back a {
	color: #be0f34;
	font-size: 10pt;
	text-decoration: none;
}

#navigation_homepage {
	background-color: #003c6b;
	width: 936px; height: 36px; margin: 0 auto; padding: 0;
}

#navigation_pages {
	background: url('images/main_nav/navigation_pages.gif') no-repeat;
	width: 936px; height: 59px; margin: 0 auto; padding: 0;
}

#nav {
	font-family: Georgia, Verdana, Ariel, sans-serif; 
	font-size: 10pt;
	font-weight: normal;
	height: 59px;
	padding: 0;
	margin: 0;
}

#nav_home {
	font-family: Georgia, Verdana, Ariel, sans-serif; font-size: 10pt; font-weight: normal; padding: 0; margin: 0;
}

#nav_home li { 
	list-style-type: none; float: left; position: relative; text-align: center;
}

#nav_home li a { 
	display: block; font-weight: bold; padding: 1px 8px; margin: 7px 6px 4px; color: #fff; text-decoration: none;
}

#nav_home li a:hover {
	background: #5f94be; color: #fff;
}

#nav_home li:hover>a {
	background: #5f94be;
}

#nav_home li.flash_version a {
	padding: 0px; margin-right: 16px; margin-left: 12px; margin-top: 2px; background: url('images/main_nav/clear.png') repeat;
}

#nav_home li.flash_version a:hover {
	background: url('images/main_nav/clear.png') repeat;
}
	
#nav_home li.current a {
	background: #5f94be;
}

#nav li {
    	list-style-type: none;
	float: left;
	position: relative;
	text-align: center;
}

#nav li a {
	display: block;
	font-weight: bold;
	padding: 1px 8px;
	margin: 7px 6px 4px;
	color: #fff;
	text-decoration: none;	
}

#nav li a:hover {
	background: #5f94be;
	color: #fff;
}

#nav li:hover>a {
	background: #5f94be;
}

#nav li.flash_version a {
	padding: 0px;
	margin-right: 16px;
	margin-left: 12px;
	margin-top: 2px;
	background: url('images/main_nav/clear.png') repeat;
}

#nav li.flash_version a:hover {
	background: url('images/main_nav/clear.png') repeat;
}
	
#nav li.current a {
	background: #5f94be;
}


.box1 {
	width: 378px; height: 284px; z-index: 100; position: relative; top: 90px; left: 0px;
}

.box2 {
	width: 351px; height: 202px; z-index: 80; position: relative; top: 50px; left: 90px;
}

.box3 {
	width: 206px; height: 202px; z-index: 150; position: relative; top: -140px; left: -10px;
}

.box4 {
	width: 214px; height: 313px; z-index: 10; position: relative; top: -470px; left: 390px;
}

.box5 {
	width: 253px; height: 332px; z-index: 60; position: relative; top: -775px; left: 530px;
}

.box6 {
	width: 270px; height: 301px; z-index: 1; position: relative; top: -1090px; left: 690px;
}

.box7 {
	width: 424px; height: 234px; margin-top: -1600px; margin-left: 535px; padding-left: 100px;
}

.box8 {
	width: 424px; height: 233px; z-index: 1; position: relative; top: -1600px; left: 525px;
}


#popup_content {
	margin-top: 15px;
}

#popup_content #nav {
	font-family: Georgia, Verdana, Ariel, sans-serif; 
	font-size: 9pt;
	margin-bottom: 26px;
	padding-left: 15px;
	font-weight: normal;
	background: #eeeeee;
	height: 31px;
	clear: both;
}

#popup_content #nav li {
    	list-style-type: none; float: left; position: relative; text-align: center;
}

#popup_content #nav li a {
	display: block; font-weight: bold; padding: 1px 10px; margin: 7px 6px 4px; color: #004c86;
}

#popup_content #nav li a:hover {
	background: #004c86;
	color: #fff;
}

#popup_content #nav li:hover>a {
	background: #004c86;
}
	
#popup_content #nav li.current a {
	background: #004c86;
	color: #fff;
}













#services_page a {
	color: #333333;
	text-decoration: underline;
}

#services_page a:hover {
	color: #004c86;
}

p.neat {
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat2{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat3{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat4{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat5{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat6{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat7{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat8{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat9{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat10{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat11{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat12{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat13{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat14{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

p.neat15{
	display: none; clear: both; margin: 1em 0; padding: 1em 10px; color: #000;
}

.first_question {
	color: #004b85;
	margin-bottom: 5px;
}

.questions {
	color: #004b85;
	margin-top: 30px;
	margin-bottom: 5px;
}


table.movies {
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: #F5F4F4;
}

























